Metricas de clasificación


![](https://raw.githubusercontent.com/igomezv/DataScienceIntermedio/main/img/confusionMatrx.jpg)


Metricas de regresión

![](https://raw.githubusercontent.com/igomezv/DataScienceIntermedio/main/img/metricas-regresion.png)
Fuente de la imagen: sitiobigdata.com

Para empezar retomemos el ejemplo de la notebook anterior y analicemos algunas cosas.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split

In [11]:
file = 'https://raw.githubusercontent.com/igomezv/DataScienceIntermedio/main/datasets/binary_cancer/breast-cancer-wisconsin.data'
data_bcancer = pd.read_csv(file)
data_bcancer.head()

,clumb-thick,ucellsize,ucellshape,margadh,singlepcellsize,barenuclei,blandchr,normalnucleoli,mitoses,class
1000025,5,1,1,1,2,1,3,1,1,2
1002945,5,4,4,5,7,10,3,2,1,2
1015425,3,1,1,1,2,2,3,1,1,2
1016277,6,8,8,1,3,4,3,7,1,2
1017023,4,1,1,3,2,1,3,1,1,2

In [12]:
cols = data_bcancer.columns

df_clean = data_bcancer[cols].apply(pd.to_numeric, errors='coerce').fillna(0)
df_clean.head(5)

,clumb-thick,ucellsize,ucellshape,margadh,singlepcellsize,barenuclei,blandchr,normalnucleoli,mitoses,class
1000025,5,1,1,1,2,1.0,3,1,1,2
1002945,5,4,4,5,7,10.0,3,2,1,2
1015425,3,1,1,1,2,2.0,3,1,1,2
1016277,6,8,8,1,3,4.0,3,7,1,2
1017023,4,1,1,3,2,1.0,3,1,1,2

In [13]:
## Primero separamos el conjunto de entrenamiento con 75% y otro temporal con el 25% 
data_train, data_temp = train_test_split(df_clean.values, train_size=0.75, shuffle=True)
## El temporal lo partimos en dos partes iguales para obtener conjuntos de validacion y de prueba
data_val, data_test = train_test_split(data_temp, test_size=0.5, shuffle=True)
## Separamos X y Y para cada nuevo conjunto
X_train, Y_train = data_train[:,:-1], data_train[:,-1]
X_val, Y_val = data_val[:,:-1], data_val[:,-1]
X_test, Y_test = data_test[:,:-1], data_test[:,-1]
## Verificamos tamanos
np.shape(X_train), np.shape(X_test), np.shape(X_val), np.shape(Y_train), np.shape(Y_test), np.shape(Y_val)

((524, 9), (88, 9), (87, 9), (524,), (88,), (87,))

In [14]:
clf = Perceptron(tol=0.001, random_state=0)
clf.fit(X_train, Y_train)

Perceptron()

Hagamos una predicción:

In [ ]:
clf.predict(np.array([3,1,1,1,2,2.0,3,1,0]).reshape(1,-1))

Probamos su metrica, en este caso su exactitud:

In [15]:
clf.score(X_test, Y_test)

0.9431818181818182

In [17]:
clf.score(X_train, Y_train)

0.9599236641221374